<div class="list-group">
    {% for rate in exchange_rates() %}
        <a href="#" class="list-group-item list-group-item-action">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ rate.ccy }} / {{ rate.baseCcy }}</h5>
                <small class="text-body-secondary">{{ 'now'|date('H:i', 'Europe/Kyiv') }}</small>
            </div>
            <p class="mb-1">{{ rate.buy }} | {{ rate.sale }}</p>
        </a>
    {% endfor %}
</div>